p, label {
    font-family: Arial, Inter, -apple-system, "system-ui", Roboto, "Helvetica Neue", Helvetica, Noto, Ubuntu, "Segoe UI", sans-serif;
    line-height: 110%;
}

body {
    margin: 0;
    background-color: #FFFAFA;
}

.cabecalho {
    color: white;
    width: 133px;
    text-align: center;
}

.main {
    max-width:70%;
}

/*Page Menu Length*/ 
#length_menu {
    position:relative;
}

#length_menu #length_id {
    width:80px;
    height: 40px;
}

/* Serach Field */
#search_form_div {
    position:relative;
}
#search_form_div #search_id{
    height:40px;
}

#search_form_div #search_id:focus{
    box-shadow:none;
    border:1px solid #000;
}

#search_form_div i{
    position:absolute;
    right:10px;
    top:8px;
}

/* button */
#plus {
   font-size: 3rem;
   color: #e55000; 
}

#plus:hover {
    color: #fe5900;
} 

.button_orange {
    background-color: #e55000;
    color: aliceblue; 
 }

/* Pagination */
.page-link {
    color: #e55000;
}

.page-link:hover {
    color: #ff5900;
    background-color: #ffb48b;
}

.page_selected {
    background-color: #adadad;
}

.click {
    cursor: pointer;
}

.hover_color:hover {
    background-color: #8a8a8a;
}